build/
*.out.txt
*.config.ini~
*.cmake~
.gitignore~
InriaPerson_octave_0_train/
libs/liblinear-1.8/
CMakeFiles/
Makefile
cmake_install.cmake
*.so
*.a
CMakeCache.txt
*.txt~
#record files for detection results
*_recordings/
2014_11_25_55141_fast_training.bootstrap*
*.pyc
.project
.pydevproject
.settings/
convertoCaltech
convertedcaltechformat/
data/sample_test_images/
data/trained_models/custom/
src/applications/boosted_learning/boosted_learning
src/applications/objects_detection/objects_detection
tools/objects_detection/detection_result/


